<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <title>Homeworks</title>
</head>
<body>
<script src="./js/bootstrap.bundle.js"></script>
<div class="navbar navbar-expand navbar-light bg-warning">
    <div class="container col-lg-8">
        <a href="index.html" class="navbar-brand">Home</a>
           <ul class="navbar-nav ms-auto">
               <li class="nav-item">
                   <a href="testing.html" class="nav-link">Quiz</a>
               </li>
               <li class="nav-item">
                   <a href="education.html" class="nav-link">Education</a>
               </li>
               <li class="nav-item">
                   <a href="exercise.html" class="nav-link">Exercise</a>
               </li>

               <li class="nav-item">
                   <a href="contact.html" class="nav-link">Contact</a>
               </li>
             {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="/logout.html">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/login.html">Login</a>
      </li>

      {% endif %}
           </ul>
       </div>
    </div>
<div class="container col-lg-8 pt-4">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="text-danger">Exercises</h1>
            <div>
                <ul>
                    <li>Exercises-level 1</li>
                    <li>Exercises-level 2</li>
                    <li>Exercises-level 3</li>
                    <li>Exercises-level 4</li>
                    <li>Reading-Level 1</li>
                    <li>Reading-Level 2</li>
                    <li>Reading-Level 3</li>
                    <li>Reading-Level 4</li>
                    <li>Listening-Level 1</li>
                    <li>Listening-Level 2</li>
                    <li>Listening-Level 3</li>
                    <li>Listening-Level 4</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <h1>If you want to speed up the process..</h1>
                    <li>Movie 1</li>
                    <li>Movie 2</li>
                    <li>Movie 3</li>
                    <li>TV show 1</li>
                    <li>TV show 2</li>
                    <li>TV show 3</li>
        </div>
    </div>
</div>

</body>
</html>